body {
  margin: 0;
  padding: 0;
  background-color: #fffbef;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.user-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
}

.user-card {
  display: flex;
  flex-direction: row;
  flex-basis: 19%;
  color: rgb(54, 44, 15);
  background-color: #ffffff;
  padding: 16px;
  margin: 16px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user-picture-container {
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.user-picture {
  border-radius: 50%;
}

.user-info-container {
  min-width: 100px;
  padding: 0px 16px;
  text-align: left;
}

.user-name {
  font-weight: 600;
}

.user-info {
  color: rgb(119, 114, 96);
}

.user-info-bio {
  line-height: 1em;
}
